/*@import url(http://fonts.googleapis.com/css?family=Dosis:300);*/
@font-face {
	font-family: Dosis;
	src: url(../fonts/Dosis-Light.ttf);
}
*{
	font-family: 'Dosis', sans-serif;
	padding: 0px;
	margin: 0px;
}

body {
	color: #007;
	display: block;
	text-align:center;
}
ul {
	transition: 0.5s all;
}
a {
	text-decoration: none;
	color: #007;
	transition: 0.5s all;
}
a:link {
	color: #222;
}
a:visited {
	color: #228;
}
li {
    list-style-type: none;
}
header {
	border: 3px solid #f44;
	border-radius: 5px;
	padding: 10px 0px 10px 0px;
}
table tr td:nth-child(1) {
	font-weight: 400;
}
header a {
	color: #f44 !important;
}

footer {
	padding: 10px;
}

#main {
	display: block;
	width: 100%;
	box-shadow: 0px 2px 15px #ddd;
}

img {
	width: 100%;
	border-radius: 5px;
}
span {
	transition: 0.5s all;
	color: #fff;
}

#profile {
	position: absolute;
	height: 200px;
	display: inline-block;
	width: auto !important;
}
iframe {
	border-style: none;
}

td {
	display: table-cell !important; /*I used inline block for the css, disrupting the natural block*/
	margin: 0px !important;
	padding: 5px 0px 5px 0px !important;
	vertical-align: middle;
}

table{
    text-align: left;
    width: 100%;
}

b{
    font-size: 1.25em;
}
ul li b {
    font-size: 1em !important;
}