@import '../../../styles/theme.css';

.navbar {
	background: var(--gallery);
	display: block;
	height: var(--navbar-height);
	line-height: var(--navbar-height);
	display: grid;
	grid-column-gap: 16px;
	font-size: var(--h6);
	grid-template-columns: repeat(3, min-content);
	justify-content: flex-end;
}

.navbar-link {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.navbar-link.is-selected {
	font-weight: bold;
}