
.col-1{
	width: 60px;
	margin: 10px;
	/*background: #fff;*/
}
.col-2{
	width: 140px;
	margin: 10px;
	/*background: #fff;*/
}
.col-3{
    min-width: 60px;
	max-width: 220px;
    width: 100%;
	margin: 10px;
	/*background: #fff;*/
}
.col-4{
    min-width: 60px;
    max-width: 300px;
	width: 100%;
	margin: 10px;
	/*background: #fff;*/
}
.col-5{
	width: 380px;
	margin: 10px;
	/*background: #fff;*/
}
.col-6{
    min-width: 60px;
    max-width: 460px;
    width: 100%;
	margin: 10px;
	/*background: #fff;*/
}
.col-7{
    min-width: 60px;
    max-width: 540px;
	width: 100%;
	margin: 10px;
	/*background: #fff;*/
}
.col-8{
	min-width: 60px;
    max-width: 620px;
    width: 100%;
	margin: 10px;
	/*background: #fff;*/
}
.col-9{
	width: 700px;
	margin: 10px;
	/*background: #fff;*/
}
.col-10{
    min-width: 60px;
    max-width: 780px;
	width: 100%;
	margin: 10px;
	/*background: #fff;*/
}
.col-11{
	width: 860px;
	margin: 10px;
	/*background: #fff;*/
}
.col-12{
    min-width: 60px;
    max-width: 940px;
	width: 100%;
	margin: 10px;
	/*background: #fff;*/
}
