:root {
  /* Colors */
  --coral-red: #FF4444;
  --gallery: #EEEEEE;
  --gray: #888888;
  
  /* Dimensions */
  --header-height: 4.209rem;
  --navbar-height: 3.157rem;
  --footer-height: 3.157rem;

  --brand-height: 35px;
  --max-width: 960px;

  /* Vertical Rhythm */
  --base-line-height: 1.25rem;
  --h1: 3.157rem;
  --h2: 2.369rem;
  --h3: 1.777rem;
  --h4: 1.333rem;
  --h5: 1rem;
  --h6: 0.75rem;
  --h7: 0.563rem;
  --h8: 0.422rem;
}