<doctype! html>
<html>
	<head>
		<title>Table Tennis Digital</title>
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			
			#canvas {
				display: block;
                background: #222;
			}
            
            #points, #start {
                z-index: 100;
                color: #fff;
                font-size: 1.5em;
                position: absolute;
                padding: 10px;
            }
            #start {
                top: 50%;
                left: 50%;
                text-align: center;
                border: 1px solid #fff;
            }
		</style>
	</head>
	<body>
        <div id='points'>0</div>
        <div id='start'>Start</div>
		<canvas id='canvas'>Canvas Fallback.</canvas>
		<script src='./js/jquery.js'></script>
        <script src='./js/raf_polyfill.js'></script>
<script>
			
    'use strict';
	
    var canvas = document.getElementById('canvas');
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    var cx = canvas.width / 2;
    var cy = canvas.height / 2;
    var context = canvas.getContext('2d');
    
    var collisionArray = new Array();
    var points = 0;
    // b for ball!
    
    var b = {};
        b.x = cx; // x-position
        b.y = cy; // y-position
        b.v = 0;
        b.fill = '#222';
        b.radius = 5;
        b.angle = 0;
        b.dx = b.v * cos(b.angle); // x-axis change in velocity
        b.dy = b.v * sin(b.angle); // y-axis change in velocity
        
    
    // p for paddle!
    var p = {};
        p.width = 100;
        p.height = 5;
        p.cx = p.width / 2;
        p.cy = p.height / 2;
        p.x1 = cx - p.cx;
        p.x2 = cx - p.cx;
        p.y1 = 0;
        p.y2 = canvas.height - p.height;

    // m for mouse!
    var m = {};
        m.x = 0;
        m.y = 0;
    
    function init () {
        gameState('Start');
        loop();
    }
    
    // loop the functions!
    function loop () {
        clear();
        mousePosition();
        drawPaddle();
        drawBall();
        collisionEffect();
        requestAnimationFrame(loop);
    }
    
    // clear canvas
    function clear () {
        context.fillStyle = 'rgba(34, 34, 34, 0.25)';
        context.fillRect(0, 0, canvas.width, canvas.height);
        context.save();
    }
    
    function mousePosition () {
        canvas.onmousemove = function (evt) {
            var rect = canvas.getBoundingClientRect();
            m.x = evt.clientX - rect.left;
            m.y = evt.clientY - rect.top;
            
            p.x1 = canvas.width - m.x - p.cx;
            p.x2 = m.x - p.cx;
        }
    }
    
    function drawPaddle () {
        context.save();
        context.beginPath();
        context.setTransform(1, 0, 0, 1, 0, 0);
        context.translate(0, 0);
        context.rotate(0);
        context.rect(p.x1, p.y1, p.width, p.height);
        context.rect(p.x2, p.y2, p.width, p.height);
        context.fillStyle = '#fff';
        context.fill();
        context.closePath();
        context.restore();
    }
    function gameState(state) {
        switch (state) {
            case 'Start':
                $('#start').css({
                    'margin-left': -$('#start').width() / 2,
                    'margin-top': -$('#start').height() / 2
                }).click(function() {
                    $(this).fadeOut(500, function () {
                        b.x = cx; 
                        b.y = cy;
                        b.v = 2;
                        b.fill = '#fff';
                        b.angle = Math.floor(Math.random() * 360);
                        b.dx = b.v * cos(b.angle);
                        b.dy = b.v * sin(b.angle);
                        points = 0;    
                    });
                });
                break;
            case 'Game Over':
                b.x = cx; 
                b.y = cy;
                b.fill = '#222';
                b.dx = 0;
                b.dy = 0;
                $('#start').text('Game Over. You earned ' + points + ' points. Click to restart.').css({
                    'margin-left': -$('#start').width() / 2,
                    'margin-top': -$('#start').height() / 2
                }).fadeIn(500);
                points = 0;
                displayPoint(points);
                break;
            case 'Add Points':
                points++;
                displayPoint(points);
                break;
            default: return;
        }
    }
    function drawBall () {
        b.x += b.dx;
        b.y += b.dy;
        if (b.x > canvas.width) b.dx = -b.dx;
        if (b.x < 0) b.dx = -b.dx; 
        if (b.x < p.x1 + p.width && b.x > p.x1) {
            if (b.y < p.height) {
                b.y = p.height;
                b.dx = b.dx;
                b.dy = -b.dy * 1.2;
                b.x += b.dx;
                b.y += b.dy;
                collision(1);
                gameState('Add Points');
            }
        } else {
            if (b.y + b.dy < p.height) {
                gameState('Game Over');
            }
        }
        
        if (b.x < p.x2 + p.width && b.x > p.x2) {
            if (b.y > p.y2) {
                b.y = p.y2;
                b.dx = b.dx;
                b.dy = -b.dy * 1.2;
                b.x += b.dx;
                b.y += b.dy;
                collision(-1);
                gameState('Add Points');
            }
        } else {
            if (b.y + b.dy > p.y2) {
                gameState('Game Over');
            }
        }
        
        context.save();
        context.beginPath();
        context.setTransform(1, 0, 0, 1, 0, 0);
        context.translate(0, 0);
        context.rotate(0);
        context.arc(b.x, b.y, b.radius, 0, Math.PI * 2, false);
        context.fillStyle = b.fill;
        context.fill();
        context.closePath();
        context.restore();
    }
    
    function collision (z) {
        for (var i = 0; i < 7; i++) {
            var f = {};
                f.x = b.x;
                f.y = b.y;
                f.radius = 2;
                f.angle = i * 30 * z;
            collisionArray.push(f);
        }
    }
    function collisionEffect () {
        for (var i = 0; i < collisionArray.length; i++) {
            var f = collisionArray[i];
                f.x += 1 * cos(f.angle);
                f.y += 1 * sin(f.angle);
            
            if (f.radius > 0.5) {
                f.radius -= 0.03;
            } else {
                collisionArray.length = 0;
            }
            
            context.save();
            context.beginPath();
            context.setTransform(1, 0, 0, 1, 0, 0);
            context.translate(0, 0);
            context.rotate(0);
            context.arc(f.x, f.y, f.radius, 0, Math.PI * 2, false);
            context.fillStyle = '#fff';
            context.fill();
            context.closePath();
            context.restore();
        }
    }
    
    function log (message) {
        console.log(message);
    }
    function cos (angle) {
        return Math.cos(angle * Math.PI / 180);
    }
    
    function sin (angle) {
        return Math.sin(angle * Math.PI / 180);
    }
    
    function displayPoint (point) {
        $('#points').text(point);
    }
    
    init();
   
    
</script>
	</body>
</html>