@import '../../../styles/theme.css';

.photo-holder {
	width: 100%;
	max-width: var(--max-width);
}

.photo-grid {
	position: relative;
	text-decoration: none;
	color: inherit;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(2, max-content);
	align-items: center;
	
	justify-content: center;
}

.photo-caption {
	font-weight: bold;
	border-bottom: 3px solid black;
	display: inline-block;

	/* Hardcode for odd rules*/
	grid-column: 2 / 3;
	z-index: 1000;
	text-shadow: 1px 1px 1px white;
}
.photo-src {
	transition: .174s all ease-out;
	border: var(--h8) solid white;

	/* Hardcode for odd rules */
	grid-column: 1 / 2;


	max-width: 480px;
	width: 100%;
}

.photo-grid:nth-child(even) .photo-src {
	grid-column: 2 / 3;
}
.photo-grid:nth-child(even) .photo-caption {
	grid-column: 1 / 2;
}

.photo-100 .photo-src {
	opacity: 0;
	transform: rotateZ(-6deg) translateY(-32px);
	animation: rotate100 .5s .25s ease-out forwards;
	height: auto;
}

@keyframes rotate100 {
	to {
		opacity: 1;
		transform: rotateZ(-9deg) translateY(0);
		box-shadow: 0 var(--h8) var(--h4) rgba(0, 0, 0, .25);
	}
}
/* END */

/* START */

.photo-200 .photo-src {
	opacity: 0;
	transform-origin: left top;
	justify-self: flex-start;
	transform: rotateZ(3deg) translateY(-32px);
	animation: rotate200 .3s .5s ease-out forwards;
}

@keyframes rotate200 {
	to {
		opacity: 1;
		transform: rotateZ(6deg) translateY(0);
		box-shadow: 0 var(--h8) var(--h4) rgba(0, 0, 0, .25);
	}
}

/* END */

/* START */

.photo-300 .photo-src {
	opacity: 0;
	transform: rotateZ(0) scale(0.95) translateY(-16px);
	animation: rotate300 .4s .75s ease-out forwards;
}

@keyframes rotate300 {
	to {
		opacity: 1;
		transform: rotateZ(-3deg) scale(0.9) translateY(0);
		box-shadow: 0 var(--h8) var(--h4) rgba(0, 0, 0, .25);
	}
}
/* END */

/* START */
.photo-400 .photo-src {
	opacity: 0;
	transform: rotateZ(6deg) translateX(-16px);
	animation: rotate400 .4s 1s ease-out forwards;
}


@keyframes rotate400 {
	to {
		opacity: 1;
		transform: rotateZ(9deg) translateX(0);
		box-shadow: 0 var(--h8) var(--h4) rgba(0, 0, 0, .25);
	}
}
/* END */

/* START */

.photo-500 .photo-src {
	opacity: 0;
	transform: rotateZ(3deg) translateX(-9px);
	animation: rotate500 .4s 1s ease-out forwards;
}

@keyframes rotate500 {
	to {
		opacity: 1;
		transform: rotateZ(-3deg) translateX(0);
		box-shadow: 0 var(--h8) var(--h4) rgba(0, 0, 0, .25);
	}
}
/* END */



@media (max-width: 640px) {
	.photo-grid {
		grid-template-columns: 1fr;
	}
	.photo-src {
		width: 320px;
		height: auto;
	}
}

.img-holder {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: calc(var(--base-line-height) * 1.5);
	grid-row-gap: calc(var(--base-line-height) * 1.5);
}
@media (max-width: 960px) {
	.img-holder {
		grid-template-columns: 1fr;
	}
}
.img {
	width: 100%;
}

.img img {
	width: 100%;
	height: auto;
	/* filter: grayscale(1); */
	transition: 0.25s all ease-out;
	border: var(--h8) solid white;
	box-shadow: 0 var(--h8) var(--h4) rgba(0, 0, 0, .15);
	box-sizing: border-box;
}

.img img:hover {
	filter: grayscale(0);
}

.img-placeholder {
	min-height: 250px;
}

.img-caption {
	display: grid;
	justify-content: flex-start;
	grid-template-columns: repeat(4, auto);
	grid-column-gap: var(--base-line-height);
	color: var(--gray);
}


.lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .9);
	text-align: center;
	display: grid;
	justify-content: center;
	align-content: center;
}
.lightbox-preview {
	width: 100vw;
	height: 100vh;
}
.lightbox-close {
	cursor: pointer;
	color: white;
	opacity: .8;
	font-size: var(--h1);
	display: inline-block;
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.lightbox-close:hover {
	opacity: 1;
}