@import '../../../styles/theme.css';

.caret {
  height: var(--h1);
  width: var(--h8);
  background: var(--coral-red);
  display: inline-block;
  opacity: .5;
  vertical-align: middle;
  margin: 0 var(--h8);
}

.caret.is-active {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    background: transparent;
  }
  50% {
    background: var(--coral-red);
  }
}
