<div class="col-8" style="font-size: 1.5em;">"I cannot remember the books I've read any more than the meals I have eaten; even so, they have made me." - <b>Ralph Waldo Emerson</b></div><br>

<ul class="col-9">
	<li><b>Emotional Intelligence</b> - Daniel Goleman</li>
	<li><b>The Gift of Fear</b> - Gavin de Becker</li>
	<li><b>Influence: The Psychology of Persuasion</b> - Robert B. Cialdini</li>
	<li><b>The 48 Laws of Powers</b> - Robert Greene</li>
	<li><b>The Art of Seduction</b> - Robert Greene</li>
	<li><b>Mastery</b> - Robert Greene</li>
	<li><b>The Tipping Point: How Little Things can Make a Big Difference</b> - Malcolm T. Gladwell</li>
	<li><b>Blink: The Power of Thinking Without Thinking</b> - Malcolm T. Gladwell</li>
	<li><b>Outliers: The Story of Success</b> - Malcolm T. Gladwell</li>
	<li><b>What the Dog Saw: And other Adventures</b> - Malcolm T. Gladwell</li>
	<li><b>David and Goliath: Underdogs, Misfits, and the Art of Battling Giants</b> - Malcolm T. Gladwell</li>
	<li><b>Lateral Thinking</b> - Edward de Bono</li>
	<li><b>Simplicity</b> - Edward de Bono</li>
	<li><b>Six Thinking Hats</b> - Edward de Bono</li>
	<li><b>Po: Beyond Yes and No</b> - Edward de Bono</li>
	<li><b>Emotional Blackmail: When the People in Your Life Use Fear, Obligation, and Guilt to Manipulate You</b> - Susan Forward</li>
	<li><b>Games People Play: The Psychology of Human Relationships</b> - Eric Berne</li>
	<li><b>50 Psychology Classics: Who We Are, How We Think, What We Do: Insight and Inspiration from 50 Key Books</b> - Tom Butler Bowdown</li>
	<li><b>The Psychology of Self-Esteem</b> - Nathaniel Branden</li>
	<li><b>Creativity: Flow and the Psychology of Discovery and Inventions</b> - Mihaly Csikzentmihalyi</li>
	<li><b>My Voice Will Go With You</b> - Milton Erikson</li>
	<li><b>How Technology is Changing our Minds for the Better.</b> - Clive Thompson</li>
</ul>

