<h1>T-Shirts Design</h1>
<br>
	<div class="col-7"><img src="/img/tshirt/eau-de-vie-the-unthinkable-depth.jpg" alt="img">  <span>The Unthinkable Depth.</span></div>
	<div class="col-7"><img src="/img/tshirt/what-the-gummibear-saw.jpg" alt="img">    <span>What the Gummibear Saw.</span></div>
	<div class="col-7"><img src="/img/tshirt/toxic.jpg" alt="img">    <span>A Gentle Toxic.</span></div>
	<div class="col-7"><img src="/img/tshirt/great-design-submission.jpg" alt="img">    <span>Rotes Gestalt.</span></div>
	<div class="col-7"><img src="/img/tshirt/investion-gone-wrong.jpg" alt="img">    <span>Investment Gone Wrong.</span></div>
	<div class="col-7"><img src="/img/tshirt/sub-template-tee-collab-(2).jpg" alt="img">  <span>Collaboration: Zen</span></div>
<br>
<p>The digital blacksmith of this era presents to you...</p>
<h1>Swords</h1>
<br>

<div class="col-7"><img src="/img/swords/s01_prophet's-sword.jpg" alt="img">
<span>Prophet"s Sword: A legendary weapon so powerful that its existence is denied by gods.</span></div>
<div class="col-7"><img src="/img/swords/s02_sunslayer.jpg" alt="img">
<span>Sunslayer: It is said that this sword fueled the sun for centuries.</span></div>

<div class="col-7"><img src="/img/swords/s03_samurai's-third-sword.jpg" alt="img">
<span>Samurai"s Blade: A sword forged by the legendary samurai Mushashi.</span></div>

<div class="col-7"><img src="/img/swords/s04_vampire.jpg" alt="img">
<span>Vampire: This sword drains the blood of its victim, leaving them a bloodless corpse.</span></div>


<div class="col-7"><img src="/img/swords/unknown.jpg" alt="img">
<span>Unknown Sword. Check out for new release.</span></div>


<p>The next work will be...</p>
<h1>Original Manga Characters</h1>
<div class="col-7"><img src="/img/swords/unknown.jpg" alt="img">
<span>Coming soon.</span></div>

