<header class="col-2"> <h3><a href="/"> alextanhongpin </a></h3> </header>
<li> <a href="/books"> <i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;&nbsp; Books </a> </li>
<li> <a href="/codes"> <i class="fa fa-code"></i>&nbsp;&nbsp;&nbsp;&nbsp; Codes </a> </li>
<li> <a href="/drawing"> <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;&nbsp; Drawing </a> </li>
<li> <a href="/guitar"> <i class="fa fa-music"></i>&nbsp;&nbsp;&nbsp;&nbsp; Guitar </a> </li>
<li> <a href="/photography"> <i class="fa fa-camera-retro"></i>&nbsp;&nbsp;&nbsp;&nbsp; Photography </a> </li>
<li> <a href="/project"> <i class="fa fa-desktop"></i>&nbsp;&nbsp;&nbsp;&nbsp; Project </a> </li>
<li> <a href="/resume"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp; Resume </a> </li>

