<h1>Finanz App</h1>
<br>
<br>
<div>View the latest details of this project <a href='http://www.myfinanzapp.com/'>here</a>.</div>


<div class="col-10"><img src="/img/finanz/img_1.png" alt="img">  <span>View all your expenses and incomes in a table.</span></div>

<div class="col-10"><img src="/img/finanz/img_2.png" alt="img">  <span>Track your progress with the calendar heatmap view.</span></div>

<div class="col-10"><img src="/img/finanz/img_3.png" alt="img">  <span>Just fill a simple form to get started.</span></div>

<div class="col-10"><img src="/img/finanz/img_4.png" alt="img">  <span>Four different charts to pick from - bar chart, pie chart, polar area chart and line chart.</span></div>

<div class="col-10"><img src="/img/finanz/img_5.png" alt="img">  <span>View your expenses according to categories.</span></div>

<div class="col-10"><img src="/img/finanz/img_6.png" alt="img">  <span>View your daily, weekly, monthly and yearly data.</span></div>

<div class="col-10"><img src="/img/finanz/img_7.png" alt="img">  <span>A short summary of your expenses and incomes are displayed below.</span></div>
