      <table>
        <!--row 1-->
        <tr>
            <td class="col-2"><b>Personal Data</b></td>
            <td class="col-5"></td>
            <td class="col-2"><img id='profile' src="/img/profilepic.jpg" alt="img"></td>
        </tr>
        <!--row 2-->
        <tr>
            <td class="col-2">First name:</td>
            <td class="col-5">Alex Hong Pin</td>
            <td class="col-2"></td>
        </tr>
        <!--row 3-->
        <tr>
            <td class="col-2">Last name:</td>
            <td class="col-5">Tan</td>
            <td class="col-2"></td>
        </tr>
        <!--row 4-->
        <tr>
            <td class="col-2">Date of Birth:</td>
            <td class="col-5">22 September 1990</td>
            <td class="col-2"></td>
        </tr>
        <!--row 5-->
        <tr>
            <td class="col-2">Place of Birth:</td>
            <td class="col-5">Georgetown, Penang</td>
            <td class="col-2"></td>
        </tr> 
        <!--row 7-->
        <tr>
            <td class="col-2">Gender:</td>
            <td class="col-5">male</td>
            <td class="col-2"></td>
        </tr>
         <!--row 8-->
        <tr>
            <td class="col-2">Status:</td>
            <td class="col-5">single</td>
            <td class="col-2"></td>
        </tr> 
          <!--row 9-->
        <tr>
            <td class="col-2">Nationality:</td>
            <td class="col-5">Malaysian</td>
            <td class="col-2"></td>
        </tr>
          <tr><td><br></td><td></td><td></td></tr>
        <tr>
            <td class="col-2"><b>Education</b></td>
            <td class="col-5"></td>
            <td class="col-2"></td>
        </tr>
            <!--row 10-->
        <tr>
            <td class="col-2">01/1997 - 12/2002:</td>
            <td class="col-5">Sekolah Kebangsaan Ibrahim, Sungai Petani, Kedah.</td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-2"></td>
            <td class="col-5">Ujian Pencapaian Sekolah Rendah (UPSR).</td>
            <td class="col-2">Results: 5xA</td>
        </tr>
          <tr><td><br></td><td></td><td></td></tr>
          <!--row 11-->
        <tr>
            <td class="col-2">01/2003 - 12/2005:</td>
            <td class="col-5">Sekolah Menengah Kebangsaan Ibrahim, Sungai Petani, Kedah.</td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-2"></td>
            <td class="col-5">Penilaian Menengah Rendah (PMR).</td>
            <td class="col-2">Results: 6xA 1xB</td>
        </tr>
          <tr><td><br></td><td></td><td></td></tr>
          <!--row 12-->
        <tr>
            <td class="col-2"> 01/2006 - 12/2007:</td>
            <td class="col-5">Sekolah Menengah Kebangsaan Ibrahim, Sungai Petani, Kedah.</td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-2"></td>
            <td class="col-5">Sijil Pelajaran Malaysia (SPM).</td>
            <td class="col-2">Results: 12xA1</td>
        </tr>
          <tr><td><br></td><td></td><td></td></tr>
           <!--row 13-->
        <tr>
            <td class="col-2">07/2008 - 05/2010:</td>
            <td class="col-5">International Education Centre (INTEC), Universiti Teknologi Mara (UiTM), Shah Alam</td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-2"></td>
            <td class="col-5">Edexcel A-Level</td>
            <td class="col-2">AS-German 1xA</td>
        </tr>
         <tr>
            <td class="col-2"></td>
            <td class="col-5"></td>
            <td class="col-2">Chemistry 1xA*</td>
        </tr>
        <tr>
            <td class="col-2"></td>
            <td class="col-5"></td>
            <td class="col-2">Mathematics 1xA*</td>
        </tr>
        <tr>
            <td class="col-2"></td>
            <td class="col-5"></td>
            <td class="col-2">Physics 1xA</td>
        </tr>
          <tr><td><br></td><td></td><td></td></tr>
          <!--row 14-->
        <tr>
            <td class="col-2"> 07/2010 - 09/2010:</td>
            <td class="col-5">International Education Centre (INTEC).</td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-2"></td>
            <td class="col-5">DSH (Deutsche Sprachprüfung für den Hochschulzugang)</td>
            <td class="col-2">Results: DSH 3 (1.8)</td>
        </tr>
          <tr><td><br></td><td></td><td></td></tr>
          <!--row 15-->
        <tr>
            <td class="col-2"> 03/2011 - current day:</td>
            <td class="col-5">Bachelor in Chemical Engineering</td>
            <td class="col-2"></td>
        </tr>
        <tr>
            <td class="col-2"></td>
            <td class="col-5">The Mannheim University of Applied Sciences, Mannheim, Germany</td>
            <td class="col-2"></td>
        </tr>
          <tr>
            <td class="col-2"></td>
            <td class="col-5">Foundation Course (Grundstudium)</td>
            <td class="col-2">Results: 1.2 (Highest: 1.0)</td>
        </tr>
          <tr>
            <td class="col-2"></td>
            <td class="col-5">Main Course (Hauptstudium)</td>
            <td class="col-2">Results: t.b.a (Highest: 1.0)</td>
        </tr>
          
      </table>

      