html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    box-sizing: content-box;
}

body {
    font-family: "Avenir", Arial, Helvetica, sans-serif;
}

.main {
    display: grid;
    grid-template-areas:
        "navbar"
        "header"
        "body"
        "footer";
    grid-template-rows:
        var(--navbar-height) var(--header-height) 1fr var(--footer-height);
    min-height: 100vh;
}

.header {
    grid-area: header;
}

.navbar {
    grid-area: navbar;
}

.body {
    grid-area: body;
}

.footer {
    grid-area: footer;
}

.header,
.navbar,
.body,
.footer {
    padding: 0 16px;
}

.body-column {
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
}

/* Apply Modular Scale (perfect fourth: 4 / 3) and Vertical Rhythm */

body,
p {
    font-size: var(--h5);
    line-height: calc(1 * var(--base-line-height));
}

h1,
.h1 {
    font-size: var(--h1);
    line-height: calc(4 * var(--base-line-height));
}

h2,
.h2 {
    font-size: var(--h2);
    line-height: calc(4 * var(--base-line-height));
}

h3,
.h3 {
    font-size: var(--h3);
    line-height: calc(2 * var(--base-line-height));
}

h4,
.h4 {
    font-size: var(--h4);
    line-height: calc(2 * var(--base-line-height));
}

h5,
.h5 {
    font-size: var(--h5);
    line-height: calc(1 * var(--base-line-height));
}

h6,
.h6 {
    font-size: var(--h6);
    line-height: calc(1 * var(--base-line-height));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.quote {
    background: var(--gallery);
    min-height: calc(2 * var(--base-line-height));
    line-height: calc(2 * var(--base-line-height));
    padding: 0 var(--h5);
    font-style: italic;
    color: var(--gray);
    border-left: 5px solid rgba(0, 0, 0, .25);
}
